<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <!-- main part of the body -->

    <div id = "container">

        <!-- Header section -->
        <header>

            <!-- Title  -->
            <div id="title-box">
                <h1>Todo List</h1>
            </div>

            <!-- FORM to take input and other info -->
            <div class = "form-container">
                <form  action="add-tasks" method="post">

                    <!-- Description About list -->
                    <div class = "description-container">
                        <label for="description">DESCRIPTION</label>
                        <textarea name="description" placeholder="What do you need to do" required></textarea>
                    </div>

                    <!-- different Types -->
                    <div class="category-container">
                        <label for="category">CATEGORY</label>
                        <select name="category" id="dropdown-list">
                            <option value="">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <!-- Date to Select -->
                    
                    <div class="date-container">
                        <label for="date">DUE DATE</label>
                        <input type="date" id="date" name="date">
                    </div>

                    <!-- Submit button -->
                    <div class="button-container">
                        <button type="submit" class="btn-submit">
                            <span>
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            ADD TASK
                        </button>
                    </div>
                </form>

            </div>
        </header>
        <main>
            <div id="todo-list">

                <ul>
                    <form action="/delete-tasks" method="GET">
                        <% for(let i of todo_list) { %>
                            <li>
                                <div id="checkbox">
                                    <input type="checkbox" name="<%= i._id %>">
                                </div>

                                <div>
                                    <div id="description-list">
                                        <%= i.description %>`
                                    </div>

                                    <div id="date-list">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <span>
                                            <%= i.date %>
                                        </span>
                                    </div>
                                </div>

                                <div id="category-list">
                                    <%= i.category %>

                                </div>
                            </li>
                        <% } %>

                        <button id="delete-btn">
                            <i class="fa-solid fa-trash-can"></i>
                            DELETE TASKS
                        </button>
                    </form>
                    
                </ul>

            </div>
        </main>
    </div>
    
</body>
</html>